body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    margin-bottom: -10px
}

.hleft {
    margin-left: 80px;
}

.hright {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-right: 80px;
}


.hook {
    background-color: #1f2937;
    color: white;
    padding: 60px 80px;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 30px;
}

.hooktext {
    width: 300px;
    border: white;
    border-style: solid;
    border-width: 1px;
    flex: 1;

}

.hookpic {
    flex: 1;
}